section#project {
  position: relative;
}

a {
  color: black;
  text-decoration: none;
}

.project-wrapper {
  /* border: 1px solid black; */
  width: 40%;
  background-color: rgb(245, 245, 245);
  box-shadow: 0rem 0rem 0.3rem rgb(120, 120, 120);
  /* height: 400px; */
  border-radius: 0.5rem;
  transition: 200ms ease-out;
}
.project-wrapper:hover {
  box-shadow: 0rem 0rem 0.5rem rgb(120, 120, 120);
  transform: translateY(-0.5rem);
}

.project-about {
  padding: 2rem;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}
.p-heading {
  margin-bottom: 1rem;
}
.p-description {
  color: rgb(82, 82, 82);
  margin-bottom: 1rem;
}

.project-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.left,
.right {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}
.left:focus,
.right:focus {
  outline: none;
}

.control-btn-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .project-wrapper {
    width: 85%;
  }
  .control-btn-container {
    width: 90%;
  }
  .btn {
    padding: 0.2rem;
    font-weight: 500;
    border: 1px solid var(--light-border);
  }
}
